body {

  background-image: url("../images/Background.jpg");
  background-size:cover;
  background-repeat: no-repeat;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: black;

}

ul {

  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  overflow: hidden;
  background-color: #333;

}

li a {

  text-decoration: none;
  color: white;
  text-align: center;
  padding: 40px 40px;
  margin: 60px;

}

li a:hover {

  background-color: #63C6CA;
  padding: 40px 40px;

}

div.transparent-text-box {

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width : 100%;

  margin: auto;
  max-width: 50%;
  background-color: #ffffff;

  opacity: 0.5;

}

div.transparent-text-box p {

  margin: 5%;
  font-weight: bold;
  font-size: 15px;
  color: #000000;

}

div.twitter-feed-class {

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
  width: 400px;
  height: 400px;

  opacity: 0.7;

}

div.bio-image {

display: flex;
justify-content: center;

opacity: 0.85;

overflow: hidden;

}

div.cv-image {

display: flex;
justify-content: center;

opacity: 0.85;

overflow: hidden;

}

/* The following code is an example from "https://designshack.net/articles/css/infinitephotobanner/" */

#container {

	width: 1800px;
	overflow: hidden;
	margin: 50px auto;
  padding: 50px;
	background: black;
  opacity: 0.8;

}

/*photobanner*/

.photobanner {

	height: 450px;
	width: 550px;
	margin-bottom: 80px;

}

/*keyframe animations*/
.first {

	-webkit-animation: bannermove 60s linear infinite;
	   -moz-animation: bannermove 60s linear infinite;
	    -ms-animation: bannermove 60s linear infinite;
	     -o-animation: bannermove 60s linear infinite;
	        animation: bannermove 60s linear infinite;

}

@keyframes "bannermove" {

 0% {

    margin-left: 0px;

 }

 100% {

    margin-left: -2125px;

 }

}

@-moz-keyframes bannermove {

 0% {

   margin-left: 0px;

 }
 100% {

   margin-left: -2125px;

 }

}

@-webkit-keyframes "bannermove" {

 0% {

   margin-left: 0px;

 }
 100% {

   margin-left: -2125px;

 }

}

@-ms-keyframes "bannermove" {

 0% {

   margin-left: 0px;

 }

 100% {

   margin-left: -2125px;

 }

}

@-o-keyframes "bannermove" {

 0% {

   margin-left: 0px;

 }

 100% {

   margin-left: -2125px;

 }

}

.photobanner {

	height: 233px;
	width: 3550px;
	margin-bottom: 80px;

}

.photobanner img {

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;

}

.photobanner img:hover {

	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;

	-webkit-box-shadow: 0px 10px 10px rgba(255,255,255);
	-moz-box-shadow: 0px 10px 10px rgba(255,255,255);
	box-shadow: 0px 10px 10px rgba(255,255,255);

}
